<h2>CAlculator</h2>
<div>
  <input type="number" class="form-input" [(ngModel)]="first">
  <select class="form-input" [value]="operator" (change)="onSelectChange($event.target.value)">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <input type="number" class="form-input" [(ngModel)]="second">
  <div>
    <button class="form-input" (click)="calculate()">
      result
    </button>
  </div>
  <div class="output">{{output}}</div>
</div>
